<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Logo</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="index.html">Accueil</a></li>
                <li class="active"><a href="piano.html">Piano</a></li>
                <li><a href="apropos.html">A Propos</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>

    <button (click)="nouveau()">Nouveau</button>
    <button (click)="enregistrer()">Enregistrer</button>
    <button (click)="lire()">Jouer la Partition</button>

    <h1> Piano </h1>

    <section>
        <div id="piano-body">

            <button class="key-white" data-touche="A0" (click)="player.buttonPlay($event, _partition)">Do</button>
            <button class="key-black" data-touche="A1" (click)="player.buttonPlay($event, _partition)">Do#<br> Ré&#9837;</button>
            <button class="key-white" data-touche="A2" (click)="player.buttonPlay($event, _partition)">Ré</button>
            <button class="key-black" data-touche="A3" (click)="player.buttonPlay($event, _partition)">Ré#<br> mi&#9837;</button>
            <button class="key-white" data-touche="A4" (click)="player.buttonPlay($event, _partition)">Mi</button>
            <button class="key-white" data-touche="A5" (click)="player.buttonPlay($event, _partition)">Fa</button>
            <button class="key-black" data-touche="A6" (click)="player.buttonPlay($event, _partition)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" data-touche="A7" (click)="player.buttonPlay($event, _partition)">Sol</button>
            <button class="key-black" data-touche="C1" (click)="player.buttonPlay($event, _partition)">Sol#<br> La&#9837;</button>
            <button class="key-white" data-touche="C2" (click)="player.buttonPlay($event, _partition)">La</button>
            <button class="key-black" data-touche="C3" (click)="player.buttonPlay($event, _partition)">La#<br> Si&#9837;</button>
            <button class="key-white" data-touche="C4" (click)="player.buttonPlay($event, _partition)">Si</button>

            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Do</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Do#<br> Ré&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Ré</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Ré#<br> mi&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Mi</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Fa</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Sol</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Sol#<br> La&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">La</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">La#<br> Si&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Si</button>

            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Do</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Do#<br> Ré&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Ré</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Ré#<br> mi&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Mi</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Fa</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Sol</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Sol#<br> La&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">La</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">La#<br> Si&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Si</button>

            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Do</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Do#<br> Ré&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Ré</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Ré#<br> mi&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Mi</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Fa</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Sol</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Sol#<br> La&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">La</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">La#<br> Si&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Si</button>

            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Do</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Do#<br> Ré&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Ré</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Ré#<br> mi&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Mi</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Fa</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Sol</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">Sol#<br> La&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">La</button>
            <button class="key-black" (click)="player.buttonPlay($event, _partition)">La#<br> Si&#9837;</button>
            <button class="key-white" (click)="player.buttonPlay($event, _partition)">Si</button>
        </div>

    </section>

</main>
<footer>

</footer>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./node_modules/@tonejs/piano/build/index.js"></script>
<script src="./assets/js/piano.js"></script>