<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Logo</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="index.html">Accueil</a></li>
                <li class="active"><a href="piano.html">Piano</a></li>
                <li><a href="apropos.html">A Propos</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>

    <h1> Piano </h1>

    <section>
        <div id="piano-body">

            <button class="key-white" data-touche="a" (click)="buttonPlay($event)">Do</button>
            <button class="key-black" data-touche="a" (click)="buttonPlay($event)">Do#<br> Ré&#9837;</button>
            <button class="key-white" data-touche="z" (click)="buttonPlay($event)">Ré</button>
            <button class="key-black" data-touche="a" (click)="buttonPlay($event)">Ré#<br> mi&#9837;</button>
            <button class="key-white" data-touche="e" (click)="buttonPlay($event)">Mi</button>
            <button class="key-white" data-touche="r" (click)="buttonPlay($event)">Fa</button>
            <button class="key-black" data-touche="a" (click)="buttonPlay($event)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" data-touche="t" (click)="buttonPlay($event)">Sol</button>
            <button class="key-black" data-touche="a" (click)="buttonPlay($event)">Sol#<br> La&#9837;</button>
            <button class="key-white" data-touche="y" (click)="buttonPlay($event)">La</button>
            <button class="key-black" data-touche="a" (click)="buttonPlay($event)">La#<br> Si&#9837;</button>
            <button class="key-white" data-touche="u" (click)="buttonPlay($event)">Si</button>

            <button class="key-white" (click)="buttonPlay($event)">Do</button>
            <button class="key-black" (click)="buttonPlay($event)">Do#<br> Ré&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Ré</button>
            <button class="key-black" (click)="buttonPlay($event)">Ré#<br> mi&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Mi</button>
            <button class="key-white" (click)="buttonPlay($event)">Fa</button>
            <button class="key-black" (click)="buttonPlay($event)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Sol</button>
            <button class="key-black" (click)="buttonPlay($event)">Sol#<br> La&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">La</button>
            <button class="key-black" (click)="buttonPlay($event)">La#<br> Si&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Si</button>

            <button class="key-white" (click)="buttonPlay($event)">Do</button>
            <button class="key-black" (click)="buttonPlay($event)">Do#<br> Ré&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Ré</button>
            <button class="key-black" (click)="buttonPlay($event)">Ré#<br> mi&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Mi</button>
            <button class="key-white" (click)="buttonPlay($event)">Fa</button>
            <button class="key-black" (click)="buttonPlay($event)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Sol</button>
            <button class="key-black" (click)="buttonPlay($event)">Sol#<br> La&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">La</button>
            <button class="key-black" (click)="buttonPlay($event)">La#<br> Si&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Si</button>

            <button class="key-white" (click)="buttonPlay($event)">Do</button>
            <button class="key-black" (click)="buttonPlay($event)">Do#<br> Ré&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Ré</button>
            <button class="key-black" (click)="buttonPlay($event)">Ré#<br> mi&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Mi</button>
            <button class="key-white" (click)="buttonPlay($event)">Fa</button>
            <button class="key-black" (click)="buttonPlay($event)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Sol</button>
            <button class="key-black" (click)="buttonPlay($event)">Sol#<br> La&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">La</button>
            <button class="key-black" (click)="buttonPlay($event)">La#<br> Si&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Si</button>

            <button class="key-white" (click)="buttonPlay($event)">Do</button>
            <button class="key-black" (click)="buttonPlay($event)">Do#<br> Ré&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Ré</button>
            <button class="key-black" (click)="buttonPlay($event)">Ré#<br> mi&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Mi</button>
            <button class="key-white" (click)="buttonPlay($event)">Fa</button>
            <button class="key-black" (click)="buttonPlay($event)">Fa#<br> Sol&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Sol</button>
            <button class="key-black" (click)="buttonPlay($event)">Sol#<br> La&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">La</button>
            <button class="key-black" (click)="buttonPlay($event)">La#<br> Si&#9837;</button>
            <button class="key-white" (click)="buttonPlay($event)">Si</button>
        </div>

    </section>

</main>
<footer>

</footer>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./node_modules/@tonejs/piano/build/index.js"></script>
<script src="./assets/js/piano.js"></script>