<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Logo</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="index.html">Accueil</a></li>
                <li class="active"><a href="piano.html">Piano</a></li>
                <li><a href="apropos.html">A Propos</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>

    <button (click)="nouveau()">Nouveau</button>
    <button (click)="enregistrer()">Enregistrer</button>
    <button (click)="lire()">Jouer la Partition</button>

    <h1> Piano </h1>

    <section>
        <div id="piano-body">

            <button class="key-white" data-touche="C2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do</button>
            <button class="key-black" data-touche="Eb2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do#<br> Ré&#9837;</button>
            <button class="key-white" data-touche="D2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré</button>
            <button class="key-black" data-touche="Ds2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré#<br> mi&#9837;</button>
            <button class="key-white" data-touche="E2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Mi</button>
            <button class="key-white" data-touche="F2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa</button>
            <button class="key-black" data-touche="Fs2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa#<br> Sol&#9837;</button>
            <button class="key-white" data-touche="G2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol</button>
            <button class="key-black" data-touche="Gb2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol#<br> La&#9837;</button>
            <button class="key-white" data-touche="A2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La</button>
            <button class="key-black" data-touche="Bb2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La#<br> Si&#9837;</button>
            <button class="key-white" data-touche="B2" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Si</button>

            <button class="key-white" data-touche="C3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do</button>
            <button class="key-black" data-touche="Eb3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do#<br> Ré&#9837;</button>
            <button class="key-white" data-touche="D3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré</button>
            <button class="key-black" data-touche="Ds3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré#<br> mi&#9837;</button>
            <button class="key-white" data-touche="E3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Mi</button>
            <button class="key-white" data-touche="F3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa</button>
            <button class="key-black" data-touche="Fs3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa#<br> Sol&#9837;</button>
            <button class="key-white" data-touche="G3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol</button>
            <button class="key-black" data-touche="Gb3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol#<br> La&#9837;</button>
            <button class="key-white" data-touche="A3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La</button>
            <button class="key-black" data-touche="Bb3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La#<br> Si&#9837;</button>
            <button class="key-white" data-touche="B3" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Si</button>

            <button class="key-white" data-touche="C4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do</button>
            <button class="key-black" data-touche="Eb4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do#<br> Ré&#9837;</button>
            <button class="key-white" data-touche="D4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré</button>
            <button class="key-black" data-touche="Ds4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré#<br> mi&#9837;</button>
            <button class="key-white" data-touche="E4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Mi</button>
            <button class="key-white" data-touche="F4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa</button>
            <button class="key-black" data-touche="Fs4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa#<br> Sol&#9837;</button>
            <button class="key-white" data-touche="G4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol</button>
            <button class="key-black" data-touche="Gb4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol#<br> La&#9837;</button>
            <button class="key-white" data-touche="A4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La</button>
            <button class="key-black" data-touche="Bb4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La#<br> Si&#9837;</button>
            <button class="key-white" data-touche="B4" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Si</button>

            <button class="key-white" data-touche="C5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do</button>
            <button class="key-black" data-touche="Eb5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do#<br> Ré&#9837;</button>
            <button class="key-white" data-touche="D5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré</button>
            <button class="key-black" data-touche="Ds5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré#<br> mi&#9837;</button>
            <button class="key-white" data-touche="E5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Mi</button>
            <button class="key-white" data-touche="F5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa</button>
            <button class="key-black" data-touche="Fs5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa#<br> Sol&#9837;</button>
            <button class="key-white" data-touche="G5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol</button>
            <button class="key-black" data-touche="Gb5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol#<br> La&#9837;</button>
            <button class="key-white" data-touche="A5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La</button>
            <button class="key-black" data-touche="Bb5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La#<br> Si&#9837;</button>
            <button class="key-white" data-touche="B5" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Si</button>

            <button class="key-white" data-touche="C6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do</button>
            <button class="key-black" data-touche="Eb6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do#<br> Ré&#9837;</button>
            <button class="key-white" data-touche="D6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré</button>
            <button class="key-black" data-touche="Ds6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Ré#<br> mi&#9837;</button>
            <button class="key-white" data-touche="E6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Mi</button>
            <button class="key-white" data-touche="F6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa</button>
            <button class="key-black" data-touche="Fs6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Fa#<br> Sol&#9837;</button>
            <button class="key-white" data-touche="G6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol</button>
            <button class="key-black" data-touche="Gb6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Sol#<br> La&#9837;</button>
            <button class="key-white" data-touche="A6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La</button>
            <button class="key-black" data-touche="Bb6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">La#<br> Si&#9837;</button>
            <button class="key-white" data-touche="B6" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Si</button>
            <button class="key-white" data-touche="C7" (click)="player.buttonPlay($event, _partition, 'enregistrer')">Do</button>
        </div>

    </section>

</main>
<footer>

</footer>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./node_modules/@tonejs/piano/build/index.js"></script>
<!-- <script src="./assets/js/piano.js"></script> -->
